* {
  margin: 0;
  padding: 0;
}

.table-container {
  width: 80%;
  margin: 0 auto;
  height: 90vh;

  overflow: auto;
}

table {
  flex-wrap: wrap;
}

table , tr {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

tr {
  align-items: center;
  border-bottom: 1px solid black;
  display: flex;
  flex-basis: 90%;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.coin-td {
  font-size: 15px;
  width: 150px;
}

td , th {
  flex-basis: 80px;
}

td {
  display: flex;
  align-items: center;
  height: 80px;
}

.tr-of-th {
  align-items: center;
  background-color: rgb(29, 185, 83);
  border: none;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  color: white;
  display: flex;
  flex-basis: 90%;
  font-size: 1rem;
  margin-bottom: 10px;
  height: 80px;
}

.table-edit-button {
  background-color: rgb(247, 201, 0);
  border-radius: 100%;
  border-style: none;
  color: black;
  cursor: pointer;
  font-size: 15px;
  font-weight: 900;
  height: 30px;
  transition-duration: 0.3s;
  width: 30px;
}

.table-delete-button {
  background-color: rgb(190, 36, 54);
  border-radius: 100%;
  border-style: none;
  color: white;
  cursor: pointer;
  height: 30px;
  margin-left: 5px;
  transition-duration: 0.3s;
  width: 30px;
}

.table-edit-button:hover , .table-delete-button:hover {
  font-size: 18px;
  height: 38px;
  width: 38px;
}

@media screen and (max-width: 1200px) {
  .table-container {
    width: 100%;
    height:unset;

    overflow: hidden;
  }
}
