* {
  margin: 0;
  padding: 0;
}

.table-container {
  flex-basis: 80%;
  flex-grow: 1;
}

table {
  flex-wrap: wrap;
}

table , tr {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

tr {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  flex-basis: 90%;
  border-bottom: 1px solid black;
  justify-content: space-evenly;
}

.coin-td {
  width: 150px;
  font-size: 15px;
}

td, th {
  flex-basis: 80px;
}

td {
  display: flex;
  height: 80px;
  align-items: center;
}


.tr-of-th {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 10px;
  border: none;
  flex-basis: 90%;
  align-items: center;
  display: flex;
  min-height: 80px;
  background-color: rgb(29, 185, 83);
  color: white;
  font-size: 18px;
}

.table-delete-button {
  background-color: rgb(190, 36, 54);
  border-radius: 100%;
  border-style: none;
  color: white;
  cursor: pointer;
  height: 30px;
  margin-left: 5px;
  transition-duration: 0.3s;
  width: 30px;
}

.table-delete-button:hover , .table-edit-button:hover {
  font-size: 18px;
  height: 38px;
  width: 38px;
}

.table-edit-button {
  background-color: rgb(247, 201, 0);
  border-radius: 100%;
  border-style: none;
  color: black;
  cursor: pointer;
  font-size: 15px;
  font-weight: 900;
  height: 30px;
  transition-duration: 0.3s;
  width: 30px;
}
